/**
 * Float Layout Activity
 **/
* {
  box-sizing: border-box;
  text-align: center;
}
body {
}
header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
section {
}
#left {
  background: #666;
  float: left;
  width: 33.3%;
  padding: 20px;
  margin-bottom: 20px;


}
#middle {
  background: #888;
  float: left;
  width: 33.3%;
  padding: 20px;
  margin-bottom: 20px;
  
}
#right {
  background: #666;
  float: left;
  width: 33.3%;
  padding: 20px;
  margin-bottom: 20px;
}
#full {
  background: #eee;
  overflow: auto;
  clear: both;  
  height: 200px;
  
}
#division {
  background: #63aeda;
  height: 50px;
  padding-top: 20px;
  margin-top: 50px;
}
aside {
  background: #fff;
  float: left;
  width: 400px;
  height: 140px;
  margin-left: 20px;
  margin-top: 30px;
  
}
footer {
  background: #ccc;
  height: 60px;
  margin-top: 20px;

}